/* global setting */

:root {
  /* color */
  --color-black: #000000;
  --color-light-black: #131313;
  --color-grey: #494949;
  --color-blue: #009bcf;
  --color-yellow: #ffd000;
  --color-pink: #ff008c;
  --color-white: #ffffff;
  --color-light-white: #faf7f7;

  /* Size */
  --base-space: 8px;
  --size-border-radius: 4px;
  --size-button: 60px;
  --size-thumbnail: 50px;
  --font-size: 18px;

  /* Animation */
  --animation-duration: 300ms;
}

body {
  height: 100vh;
  background-color: var(--color-grey);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo {
  cursor: pointer;
  transition: transform var(--animation-duration) ease-in;
}

.buttons {
  display: flex;
  align-items: center;
}

.btn {
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
  transition: transform var(--animation-duration) ease-in;
  margin-right: var(--base-space);
}

.logo,
.btn:hover {
  transform: scale(1.1);
}

.imgBtn {
  width: var(--size-button);
  height: var(--size-button);
}

.colorBtn {
  font-size: var(--font-size);
  padding: calc(var(--base-space) * 2);
  border-radius: var(--size-border-radius);
}

.blue {
  background-color: var(--color-blue);
}

.yellow {
  background-color: var(--color-yellow);
}

.pink {
  background-color: var(--color-pink);
}

.items {
  width: 60%;
  height: 60%;
  list-style: none;
  padding-left: 0;
  overflow-y: auto;
}

.item {
  background-color: var(--color-light-white);
  border-radius: var(--size-border-radius);
  display: flex;
  align-items: center;
  padding: var(--base-space);
  margin-bottom: var(--base-space);
}

.item__thumbnail {
  width: var(--size-thumbnail);
  height: var(--size-thumbnail);
}

.item__description {
  margin-left: var(--base-space);
  font-size: var(--font-size);
}

.item.invisible {
  display: none;
}
